# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

backend/*.js
!backend/jest.config.js
backend/*.js.map
backend/database/*.js
backend/database/*.js.map
backend/domainNames/*.js
backend/domainNames/*.js.map
backend/constants/*.js
backend/constants/*.js.map
backend/scripts/*.js
backend/scripts/*.js.map

backend/public/files/*.pdf

backend/ssh.sh

static/public/statements.txt

# libre office
.~*#

# dependencies
frontend/node_modules
frontend/docker_output
backend/node_modules
test/**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
frontend/build
#backend/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/log/
backend/database/backups/*.sql

# data
analysis/data/*
analysis/stated_analysis

documents/*.pdf

test/integration/migration/actual.sql
test/integration/migration/expected.sql
