name: CI tests
on: pull_request
jobs:
  library_tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
      - name: Install dependencies
        run: npm install
        working-directory: ./stated-protocol
      - name: Run linter
        run: npm run lint
        working-directory: ./stated-protocol
      - name: Check formatting
        run: npm run format:check
        working-directory: ./stated-protocol
      - name: Run tests
        run: npm test
        working-directory: ./stated-protocol
      - name: Transpile
        run: npx tsc --noEmit
        working-directory: ./stated-protocol
